body {
	background-image: url(../images/bg.gif);
	background-repeat: repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size:13.5px;
}
.graph {
	height: 400px;
	width: 700px;
	border:thin;
	border-style:solid;
	padding:5px;
}

#contentholder {
	width: 990px;
}
#content_top {
	background-image: url(../images/content_top.png);
	height: 13px;
	width: 980px;
	background-repeat: no-repeat;
}
#content_bottom {
	background-image: url(../images/content_bottom.png);
	height: 13px;
	width: 980px;
	background-repeat: no-repeat;
}
#content_mid {
	width: 980px;
	background-image: url(../images/content_bg.png);
	background-repeat: repeat-y;
}
#content_text  {
	float: left;
	width: 680px;
	margin-left: 5px;
}
#content_sidebar  {
	float: right;
	width: 250px;
	margin-right: 10px;
	display: block;
}
.content #login {
	
}
/* Tooltips */
.aToolTip {
	border:1px solid #000;
	background:url(../images/opacity_50_black.png) repeat;
	color:#fff;
	margin:0;
	padding:2px 10px;
	font-size:11px
}
.aToolTip .aToolTipContent {position:relative;margin:0;padding:0}
/* Placerholder */
.placeholder {
	color: #aaa;
}

.container {	
width: 960px;	
}
form input[type="text"],
 input[type="password"],input[type="email"],input[type="number"],#form,textarea ,form select{
	border: solid 1px #333;
	background: #FFFFFF;
	margin: 5px 30px 0px 30px;
	padding: 9px;
	display:block;
	font-size:16px;
	width:76%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

form input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
#form:focus,form select:focus{
	background:#feffef;
}

input[type="submit"],input[type="reset"] ,input[type="button"] {
			 padding: 5px 14px; border: 1px solid #ccc; background: #fff;
		}
		
.userbuttons {
	float: right;
	height: 60px;
	width: 330px;
}
.signup-button, .forgot-button {
	display: inline-block;
	float: left;
	width: 140px;
	height: 30px;
	margin: 12px 10px;
}

.signup-button {
	background: #a4ce43;
	background: -moz-linear-gradient(top, #a4ce43 0%, #54ba47 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4ce43), color-stop(100%,#54ba47));
	background: -webkit-linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	background: -o-linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	background: -ms-linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4ce43', endColorstr='#54ba47',GradientType=0 );
	background: linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	border: 1px solid #247116;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px #CACB80, 0px 1px 2px #777;
	-moz-box-shadow: inset 0px 1px 0px #CACB80, 0px 1px 2px #777;
	-webkit-box-shadow: inset 0px 1px 0px #CACB80, 0px 1px 2px #777;
	color: #212A12;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0px 1px 1px #DCE298;
}

.signup-button:hover {
	background: #b3d43f;
	background: -moz-linear-gradient(top, #b3d43f 0%, #60bd46 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3d43f), color-stop(100%,#60bd46));
	background: -webkit-linear-gradient(top, #b3d43f 0%,#60bd46 100%);
	background: -o-linear-gradient(top, #b3d43f 0%,#60bd46 100%);
	background: -ms-linear-gradient(top, #b3d43f 0%,#60bd46 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3d43f', endColorstr='#60bd46',GradientType=0 );
	background: linear-gradient(top, #b3d43f 0%,#60bd46 100%);
}

.signup-button:active {
	background: #94cb42;
	background: -moz-linear-gradient(top, #94cb42 0%, #78ac38 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94cb42), color-stop(100%,#78ac38));
	background: -webkit-linear-gradient(top, #94cb42 0%,#78ac38 100%);
	background: -o-linear-gradient(top, #94cb42 0%,#78ac38 100%);
	background: -ms-linear-gradient(top, #94cb42 0%,#78ac38 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94cb42', endColorstr='#78ac38',GradientType=0 );
	background: linear-gradient(top, #94cb42 0%,#78ac38 100%);
}

.forgot-button {
	background: #52a8e8;
	background: -moz-linear-gradient(top, #52a8e8 0%, #2e76cf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52a8e8), color-stop(100%,#2e76cf));
	background: -webkit-linear-gradient(top, #52a8e8 0%,#2e76cf 100%);

	background: -o-linear-gradient(top, #52a8e8 0%,#2e76cf 100%);
	background: -ms-linear-gradient(top, #52a8e8 0%,#2e76cf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a8e8', endColorstr='#2e76cf',GradientType=0 );
	background: linear-gradient(top, #52a8e8 0%,#2e76cf 100%);	
	border: 1px solid #385B7A;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px #93C2E6, 0px 1px 2px #777;
	-moz-box-shadow: inset 0px 1px 0px #93C2E6, 0px 1px 2px #777;
	-webkit-box-shadow: inset 0px 1px 0px #93C2E6, 0px 1px 2px #777;
	color: #12202F;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0px 1px 1px #B5CFEC;
}

.forgot-button:hover {
	background: #5caafb;
	background: -moz-linear-gradient(top, #5caafb 0%, #3c85dc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5caafb), color-stop(100%,#3c85dc));
	background: -webkit-linear-gradient(top, #5caafb 0%,#3c85dc 100%);
	background: -o-linear-gradient(top, #5caafb 0%,#3c85dc 100%);
	background: -ms-linear-gradient(top, #5caafb 0%,#3c85dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5caafb', endColorstr='#3c85dc',GradientType=0 );
	background: linear-gradient(top, #5caafb 0%,#3c85dc 100%);
}

.forgot-button:active {
	background: #4596df;
	background: -moz-linear-gradient(top, #4596df 0%, #2a60b4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4596df), color-stop(100%,#2a60b4));
	background: -webkit-linear-gradient(top, #4596df 0%,#2a60b4 100%);
	background: -o-linear-gradient(top, #4596df 0%,#2a60b4 100%);
	background: -ms-linear-gradient(top, #4596df 0%,#2a60b4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4596df', endColorstr='#2a60b4',GradientType=0 );
	background: linear-gradient(top, #4596df 0%,#2a60b4 100%);
}
label {
	font-weight: bold;
}
.success {
	background-color:
 #090;
}
.error {
	background-color:#900;
}
ul li {
	padding:3px;
}
ul li:hover {
	cursor:pointer;
	background-color:#000;
	color:#FFF;
}

/* Sidebar Menu */
#sidebar{
width: 200px;
float: left;
margin:5px	;
background-image:url(../images/icons/sidebar.png);
background-repeat:repeat;
}

#sidebar h3 {
color: #1F1F20;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin:5px;
display: block;
float: left;

}

.toggleLink {
color: #999999;
font-size: 10px;
text-decoration: none;
display: block;
float: right;
margin-right: 2%
}

#sidebar .toggleLink:hover {
color: #77BACE;
text-decoration: none;
}

#sidebar ul {
clear: both;
margin: 0; padding: 0;
}

#sidebar li {
list-style: none;
margin: 0 0 0 12%; padding: 0;
}

#sidebar li a {
color: #666666;
padding-left: 25px;
text-decoration: none;
display: inline-block;
height: 17px;
line-height: 17px;
text-shadow: 0 1px 0 #fff;
margin: 2px 0;
}

#sidebar li a:hover {
color: #444444;
}

/* Sidebar Icons */

.icn_new_article a {
background: url(../images/icons/icn_new_article.png) no-repeat center left;
}
.icn_edit_article a {
background: url(../images/icons/icn_edit_article.png) no-repeat center left;
}
.icn_categories a {
background: url(../images/icons/icn_categories.png) no-repeat center left;
}
.icn_tags a {
background: url(../images/icons/icn_tags.png) no-repeat center left;
}
.icn_add_user a {
background: url(../images/icons/icn_add_user.png) no-repeat center left;
}
.icn_view_users a {
background: url(../images/icons/icn_view_users.png) no-repeat center left;
}
.icn_profile a {
background: url(../images/icons/icn_profile.png) no-repeat center left;
}
.icn_folder a {
background: url(../images/icons/icn_folder.png) no-repeat center left;
}
.icn_photo a {
background: url(../images/icons/icn_photo.png) no-repeat center left;
}
.icn_audio a {
background: url(../images/icons/icn_audio.png) no-repeat center left;
}

#sidebar li.icn_video a {
background: url(../images/icons/icn_video.png) no-repeat center left;
}
#sidebar li.icn_settings a {
background: url(../images/icons/icn_settings.png) no-repeat center left;
}
#sidebar li.icn_security a {
background: url(../images/icons/icn_security.png) no-repeat center left;
}
#sidebar li.icn_jump_back a {
background: url(../images/icons/icn_jump_back.png) no-repeat center left;
}

#sidebar p {
color: #666666;
padding-left: 6%;
text-shadow: 0 1px 0 #fff;
margin: 10px 0 0 0;}

#sidebar a {
color: #666666;
text-decoration: none;
}

#sidebar a:hover {
text-decoration: underline;
}

#sidebar footer {
margin-top: 20%;
}
